.main-game {
  width: 100%;
  height: 99vh;
  margin: 0;
}

body {
  font-family: sans-serif;
  overflow: hidden;
}

.square-one {
  border-radius: 0.7rem;
  position: absolute;
  border: none;
  cursor: pointer;

  box-shadow: 0 0 30px 2px rgb(255, 102, 0);

  transition: 2s left cubic-bezier(0.5, 0, 0.5, 1), 2s top cubic-bezier(0.5, 0, 0, 1);
}

.settings-btn {
  background: none;
  border: none;
  color: white;

  cursor: pointer;
  text-decoration: underline;

  position: absolute;

  left: 0;
  top: 0;

  z-index: 6;
  padding: 2rem 0 0 2rem;
}

.menu {
  z-index: 5;

  background-color: #00000023;
  color: white;
  position: absolute;

  left: 0;
  top: 0;

  height: 100vh;
  padding: 2rem;

  padding-top: 4rem;

  backdrop-filter: blur(30px);
}
